<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Share Image</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'poll/result.css' %}">
</head>
<body>
    <h1>Result</h1>
    <div class="container">
        <img id="resultImage" class="mbti" src="{% static 'img/esfj.png' %}" alt="ESFJ" />
    </div>
    <div class="button-container">
        <a id="facebookShare" class="share-button" href="#" target="_blank">
            <img class="share-button" src="{% static 'img/facebook_icon.png' %}" alt="Share on Facebook">
        </a>
        <a id="twitterShare" class="share-button" href="#" target="_blank">
            <img class="share-button" src="{% static 'img/x_icon.png' %}"  alt="Share on X">
        </a>
        <a id="downloadLink" class="share-button" href="{% static 'img/esfj.png' %}" download="resultImage.png">
            <img class="share-button" src="{% static 'img/download_icon.png' %}" alt="Download Image">
        </a>
    </div>  
    <script>
        document.getElementById('twitterShare').href += encodeURIComponent(window.location.href);
    </script>
    <script>
        document.getElementById('facebookShare').href = 
            'https://www.facebook.com/sharer/sharer.php?u=' + encodeURIComponent(window.location.href);
    </script>
</body>
</html>