<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome to the Survey Project</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'poll/main.css' %}">
    <script src="{% static 'poll/main.js' %}" defer></script>
</head>
<body>
    <div class="container">
        <h1>Welcome to the MBTI_PLANT</h1>
        <p>이 프로젝트의 목적은, 개인의 성향에 따른 MBTI별 식물 추천 서비스 구현입니다.</p>
        <p>아래의 버튼을 눌러 설문을 시작해주세요!</p>
        <button id="startButton">Start Survey</button>
    </div>
</body>
</html>
