<!DOCTYPE html>
<html>
<head>
    <title>Survey</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'poll/style.css' %}">
    <script src="{% static 'poll/scripts.js' %}" defer></script>
</head>
<body>
    <h1>Survey</h1>
    <form method="post">
        {% csrf_token %}
        {% for category, questions in questions.items %}
            <h2>{{ category }}</h2>
            {% for question in questions %}
                <div class="question">
                    <label>{{ question.question }}</label>
                    <input type="radio" name="{{ question.number }}" value="yes"> 예
                    <input type="radio" name="{{ question.number }}" value="no"> 아니오
                </div>
            {% endfor %}
        {% endfor %}
        <button type="submit">Submit</button>
    </form>
</body>
</html>
