/* poll/static/poll/styles.css */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f9;
}

h1 {
    background-color: #4CAF50;
    color: white;
    padding: 20px;
    text-align: center;
    margin: 0;
}

h2 {
    color: #4CAF50;
    padding: 10px;
}

form {
    background-color: white;
    margin: 20px auto;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    max-width: 600px;
}

div {
    margin-bottom: 15px;
}

label {
    margin-left: 10px;
}

button {
    background-color: #4CAF50;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    display: block;
    width: 100%;
}

button:hover {
    background-color: #45a049;
}
